<div class="banner">
  <a><h1 class="title">Acebook</h1></a>
</div>

<div class="new-content white-box">
  <h1>Login</h1>
  <em>
  {{#if error}}
    <div>{{error}}</div><br>
  {{/if}}
  </em>
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" value="" placeholder="email" required class="input-box" aria-label="Type email address here">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" required class="input-box" aria-label="Type password here">
    <button id="submit" type="submit" class="global-button" aria-label="Submit Login Form">Login</button>
  </form>
  <br>
  <p>Did you mean <a href="/users/new">signup</a>?</p>
</div>