
<div class="timeline-navbar fixed-content">
  <div class="topbar">
    <div class="initials">Initials</div>
    <h1 class="title">Acebook</h1>
    <a class="global-button logout">Logout</a>
  </div>
  <div class="bottombar">
    <a class="global-button">Create Post</a>
    <a class="go-top">Back to top</a>
  </div>
</div>   

<div class="hero">
  <li></li>
</div>

<div class="timeline">
  <div class="comment-box">
    <textarea  placeholder="What would you like to comment?"></textarea>
    <button input="text"></button>
  </div>
</div>

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li> 
  <li>{{this.likes}} likes</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
